/*****THINKSPACE*****/

/*****BASE STYLES*****/
/*****
charcoal #13172d
white f7f7f7
blue 60b5ff
orange ffac6c
*****/
body {
  background-color: #13172d;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f7f7f7;
}
/*****GRID*****/
.full-width {
  width: 1200px;
  margin: auto;
}

.half-width {
  float:left;
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}

/*****HEADER*****/
header {
  height: 100px;
}

header img {
  padding: 15px 0 10px 20px;
}

nav {
  float:right;
  padding: 50px 10px 10px 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #f7f7f7;
  padding: 0 15px 0 15px;
}

/*****MAIN*****/
#hero-image {
  background: url('../img/table-surface.jpg');
  background-size: cover;
  height: 600px;
  margin-bottom: 45px;
}

main h1 {
  color: #e36300;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  line-height: 150%;
  padding: 460px 10px 10px 10px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 15px;
}

main h2 {
  color: #f7f7f7;
  font-size: 30px;
  padding: 0 0 0 20px;
}

#about {
  height: 350px;
}

#about p {
  font-size: 20px;
  padding: 0 0 10px 20px;
  width: 625px;
}

#about img {
  padding-left: 95px;
  width: 445px;
}

/****SERVICES*****/
#services {
  clear: both;
  height: 400px;
  background-color: #ffac6c;
  margin: 40px 15px 40px 110px;
  padding: 25px 0 0 0;
  width: 1200px;
}

#services-left.third-width img {
  padding-left: 115px;
  padding-right: 75px;
}

#services-center.third-width img {
  padding-left: 115px;
  padding-right: 75px;
}

#services-right.third-width img {
  padding-left: 95px;
  padding-right: 50px;
}

#services img {
  padding: 15px 50px 30px 50px;
  height: 150px;
  width: 150px;
}

#services-left.third-width h3 {
  padding-left: 115px;
}

#services-center.third-width h3 {
  padding-left: 85px;
}

#services-right.third-width h3 {
  padding-left: 70px;
}

#services h3 {
  font-size: 28px;
  margin: 5px 0 25px 0;
  text-transform: uppercase;
}

#services p {
  font-size: 18px;
  text-align: center;
}

#services-right.third-width p {
  padding-right: 45px;
}

/****LOCATIONS*****/
#locations {
  height: 250px;
  background-color: #93cdff;
  margin: 40px 15px 40px 110px;
  padding: 25px 0 0 0;
  width: 1200px;
}

#locations h2 {
  text-align: center;
  text-transform: uppercase;
}

#locations p {
  font-size: 24px;
  padding: 0 50px 0 50px;
  text-align: center;
}

#locations-left-text p {
  border-right: 2px solid #f7f7f7;
}

/*****TESTIMONIALS*****/
#testimonials {
  height: 400px;
}

#testimonials h2 {
  padding-top: 20px;
}

#testimonials-left-text {
  width: 500px;
  padding-left: 25px;
  padding-right: 50px;
}

#testimonials-right-text {
  width: 500px;
  padding-left: 90px;
  padding-right: 25px;
}

#testimonials-left-text p, #testimonials-right-text p {
  font-size: 18px;
  margin: 0 0 16px 0;
  padding: 10px 0 25px 0;
  text-align: justify;
}

#testimonials span {
  font-style: italic;
  font-weight: bold;
  margin-left: 25px;
}
