/*****THINKSPACE*****/

/*****BASE STYLES*****/
/*****
charcoal #13172d
white f7f7f7
blue 60b5ff
orange ffac6c
*****/
body {
  background-color: #13172d;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f7f7f7;
}
/*****GRID*****/
.full-width {
  width: 1200px;
  margin: auto;
}

.half-width {
  float:left;
  width: 600px;
}

/*****HEADER*****/
header {
  height: 100px;
}

header img {
  padding: 15px 0 10px 20px;
}

nav {
  float:right;
  padding: 50px 10px 10px 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #f7f7f7;
  padding: 0 15px 0 15px;
}

/*****MAIN*****/
#hero-image {
  background: url('../img/table-surface.jpg');
  background-size: cover;
  height: 600px;
  margin-bottom: 45px;
}

main h1 {
  color: #e36300;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  line-height: 150%;
  padding: 460px 10px 10px 10px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 15px;
}

main h2 {
  color: #f7f7f7;
  font-size: 30px;
  padding: 0 0 0 20px;
}

#about {
  height: 350px;
}

#about p {
  font-size: 20px;
  padding: 0 0 10px 20px;
  width: 625px;
}

#about img {
  padding-left: 95px;
  width: 445px;
}

#services {
  clear: both;
  height: 400px;
}

/*****.no-bullet {
list-style-type: none;
padding: 0px;
margin: 0px;
}

.tech-icon {
  background: url('../img/tech-icon-orange.png') no-repeat left top;
  display: block;
}
*****/

/*****ul {
  list-style: none;
  margin-left: 40px;
}

li.tech-icon {
  /*****height: 30px;*****/
  /*****list-style-image: url('../img/tech-icon.png');
  /*****width: 30px;*****/
  /*****padding: 30px 0 0 20px;
}*****/


/*****EXAMPLES OF ICONS AS BULLETS -- DIDN'T WORK!
ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}
li.leaf {
background: url('/images/leaf_icon.jpg') no-repeat left top;
}

li.leaf {
background: url('/images/leaf_icon.jpg') no-repeat left top;
height: 54px;
padding-left: 44px;
padding-top: 3px;
}

THIS IS THE ONE I WANT:
<ul class="no_bullet">
<li class="disc">List item: disc bullet</li>
<li class="square">List item: square bullet</li>
<li class="lower_greek">List item: lower greek bullet</li>
<li class="leaf">List item: leaf image bullet</li>
<li class="red_square">List item: red square image bullet</li>
</ul>

<img src="img/office-space-icon.png" alt="graphic of office building">
<img src="img/business-support-icon.png" alt="graphic of trophy">
<img src="img/recruting-icon.png" alt="graphic of three people">
<img src="img/tech-icon.png" alt="graphic of code">
*****/

#services img {
  padding-left: 40px;
  width: 30px;
}
